body {
    color: #fc2803;
    /* background-image: url("../Images/1436808.jpg"); */
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;

}


nav {
    background-color: #fc2803;
}

nav ul {
    display: flex;
}

nav li {

    list-style-type: none;
    margin: 5px;
    padding: 10px;

}

.img-logo {
    height: 50px;

}

.backgroundpic {
    background-repeat: no-repeat;
    background-size: cover;
}

.team-cards {
    display:flex;
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
    
}
.team {
    margin:20px;
    padding:30px;
    background-color: rgb(221, 209, 209);
    position: relative;
    width: 200px;
    border-radius: 20px;
    
}
.team img {
    position: absolute;
    right: 20px;
    bottom: 30px;
}
li {list-style:none ;

}
.team-container h1 {
    margin:0 auto; 
    text-align: center;
}